.inter-var {
    margin-right: 20px; /* Adjust the margin to create a gap between cards */
  }

  h1 {
    text-align: center; /* Center the text */
    font-size: 2rem; /* Increase the font size */
    margin-top: 20px; /* Add some bottom margin for spacing */
  }
  
  
.h1-screen {
    height: 60vh;
}
  
.h-60 {
  height: 20em;
}